<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.js"></script>

    <style id="css">
body {
  font: 300 14px 'Helvetica Neue', Helvetica;
}
.node rect {
  stroke: #333;
  fill: #fff;
}
.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

svg {
    float: left;
}

</style>

</head>
<script>

</script>
<body>
<h1>Test</h1>

<div>
    <svg width="600" height="800" id="svg1">
        <line x1="0%" y1="0%" x2="100%" y2="0%" style="stroke:black;stroke-width:5px"/>
        <line x1="100%" y1="0%" x2="100%" y2="100%" style="stroke:black;stroke-width:5px"/>
        <g/>
    </svg>
    <svg width="600" height="800" id="svg2">
        <line x1="0%" y1="0%" x2="100%" y2="0%" style="stroke:black;stroke-width:5px"/>
        <g/>
    </svg>
</div>

<script id="js">
var g = new dagreD3.graphlib.Graph().setGraph({});
var g_ = new dagreD3.graphlib.Graph().setGraph({});
var Dict = {{ Dict|safe }};
var states= [];
var Dict_ = {{ Dict|safe }};
var states_= [];

for(i in Dict){
    states.push(Dict[i].city);
};
for(i in Dict_){
    states_.push(Dict_[i].city);
};

states.forEach(function(state) { g.setNode(state, { label: state }); });
states_.forEach(function(state_) { g_.setNode(state_, { label: state_ }); });

for(i in Dict){
    if(Dict[i].next!='None')
        g.setEdge(Dict[i].city,   Dict[i].next,     { label: Dict[i].wayToNext });

};
for(i in Dict_){
    if(Dict_[i].next!='None')
        g_.setEdge(Dict_[i].city,   Dict_[i].next,     { label: Dict_[i].wayToNext });
};
g.nodes().forEach(function(v) {
  var node = g.node(v);
  node.rx = node.ry = 5;
});
g_.nodes().forEach(function(v) {
  var node_ = g_.node(v);
  node_.rx = node_.ry = 5;
});


for(i in Dict){
    if(Dict[i].flag!='0')
        alert(Dict[i].city);
        if(Dict[i].flag=='1')
            g.node(Dict[i].city).style = "fill: #7f7";
        else if(Dict[i].flag==)
};

var svg = d3.select("#svg1"),//
    inner = svg.select("g");
var svg_ = d3.select("#svg2"),//
    inner_ = svg_.select("g_");
var zoom = d3.zoom().on("zoom", function() {
      inner.attr("transform", d3.event.transform);
    });
var zoom_ = d3.zoom().on("zoom", function() {
      inner_.attr("transform", d3.event.transform);
    });

svg.call(zoom);
svg_.call(zoom_);
var render = new dagreD3.render();
var render_ = new dagreD3.render();
render(inner, g);
render_(inner_, g_);
var initialScale = 0.65;
svg.call(zoom.transform, d3.zoomIdentity.translate((svg.attr("width") - g.graph().width * initialScale) / 2, 20).scale(initialScale));
svg.attr('height', g.graph().height * initialScale + 40);
svg_.call(zoom_.transform, d3.zoomIdentity.translate((svg_.attr("width") - g_.graph().width * initialScale) / 2, 20).scale(initialScale));
svg_.attr('height', g_.graph().height * initialScale + 40);
</script>

</body>
</html>